---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

type Props = { title?: string; description?: string; hero_image?: string };

const { title, description, hero_image } = Astro.props;
console.log(hero_image);
---

<html lang="en">
  <head>
    <BaseHead
      title={title ?? SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
    />
  </head>

  <body>
    <div style={{ position: "relative" }}>
      <Header />
      <main>
        {
          hero_image && (
            <div
              class="heading"
              style={{
                height: `min(var(--max-width) * 0.458, 480px)`,
              }}
            >
              <video
                style={{ width: "100%" }}
                src="BIGMOVIE-cropped.mp4"
                autoplay
                muted
                loop
              />
            </div>
          )
        }
        <hr id="to-be-cut" />

        <div
          style={!hero_image
            ? { top: 0 }
            : {
                top: `calc(min(var(--max-width) * 0.459, 480px) / 2)`,
              }}
          class="floater"
        >
          <h1 id="HEADER" class={`stick ${!hero_image ? "very-solid" : ""}`}>
            <span>Dotwork Pete</span>
          </h1>
          <h5 id="DESCRIPTION" class="stick">{description}</h5>
        </div>
        <br />
        {!hero_image && description && <p id="DESCRIPTION">{description}</p>}
        <div class={`spacer ${hero_image ? "hide" : ""}`}>
          <br />
          <br />
          <br />

          {
            description && (
              <>
                <hr />
                <br />
              </>
            )
          }
        </div>
        <!-- <div style={{ padding: "0 0.75rem" }}> -->
        <slot />
        <!-- </div> -->
      </main>
      <Footer />
    </div>
    <div id="admin-portal" class="hide"></div>
    <div id="cursor-container">
      <div id="cursor"></div>
    </div>
  </body>
</html>

<script>
  const headerWidth = document.getElementById("deez")!.style.width;
  document.documentElement.style.setProperty("--header-width", headerWidth);

  const el = document.getElementById("to-be-cut")!;

  const header = document.getElementById("HEADER")!;
  const checkStuck = (el: HTMLElement) => () => {
    const stickyTop = parseInt(window.getComputedStyle(el).top) || 53;
    const currentTop = el.getBoundingClientRect().top;
    el.classList.toggle("stuck", currentTop === stickyTop);
    el.classList.toggle("almost-stuck", currentTop - stickyTop <= 9);
    console.log(currentTop);
  };
  window.addEventListener("scroll", checkStuck(el));
  window.addEventListener("scroll", checkStuck(header));
  window.addEventListener("load", checkStuck(el));
  window.addEventListener("load", checkStuck(header));

  const IS_IOS =
    /iPad|iPhone|iPod/.test(navigator.userAgent) &&
    (!Object.hasOwn(window, "MSStream") || !(window as any).MSStream);

  if (!IS_IOS) {
    const cursor = document.getElementById("cursor")!;

    window.addEventListener(
      "mousemove",
      () => (cursor.style.display = "block"),
      {
        once: true,
      },
    );

    let last: string;
    window.addEventListener("dragend", (event) => {
      if (event.button !== 0) return;

      cursor.style.transform = last;
    });
    window.addEventListener("mouseup", (event) => {
      if (event.button !== 0) return;

      cursor.style.transform = last;
    });
    window.addEventListener("mousedown", (event) => {
      if (event.button !== 0) return;

      last = cursor.style.transform;
      cursor.style.transform = "rotate(-30deg)";
    });
    window.addEventListener(
      "contextmenu",
      () => (cursor.style.transform = last),
    );

    const move = (event: MouseEvent) => {
      cursor.style.top = event.clientY - 15 + "px";
      cursor.style.left = event.clientX - 2 + "px";
    };
    document.documentElement.addEventListener("mousemove", move);
    document.documentElement.addEventListener("drag", move);
    document.documentElement.addEventListener(
      "mouseleave",
      () => (cursor.style.display = "none"),
    );
    document.documentElement.addEventListener(
      "mouseenter",
      () => (cursor.style.display = "block"),
    );
  } else document.getElementById("cursor-container")!.style.display = "none";

  //   window
  //     .matchMedia("(prefers-color-scheme: dark)")
  //     .addEventListener("change", ({ matches: isDark }) => {
  //       const newTheme = isDark ? "dark" : "light";
  //       document.documentElement.dataset.theme = newTheme;
  //       localStorage.setItem("theme", newTheme);
  //     });
  const bag = document.getElementById("bag")!;
  const res = await fetch("/checkout/api/bag");
  if (res.ok) {
    const currentBag = await res.json();

    localStorage.setItem("dotwork-bag", JSON.stringify(currentBag));

    if (Array.isArray(currentBag))
      bag.dataset.quantity = currentBag.reduce(
        (acc: number, curr: any) => acc + curr.quantity,
        0,
      );
  }
</script>

<style>
  main {
    position: relative;
  }
  #cursor-container {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 100vw;
    z-index: 1000000;
    pointer-events: none;
    background: red !important;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* height: 30rem; */
    overflow: hidden;
    z-index: 9;
  }
  video {
    position: absolute;
    top: 2.85rem;
    z-index: 5;
  }
  .heading > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
  }
  .heading > img {
    width: 100%;
  }
  .heading canvas {
    /* content: ""; */
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    /* background-color: red !important; */
  }

  #DESCRIPTION {
    text-align: center;
    position: relative;
    z-index: 98;
    color: var(--primary);
    text-shadow: var(--other-secondary) 0px 0 3px;
    top: 0rem;
  }
  .stick {
    position: sticky;
    top: 3.35rem;
    z-index: 1000;
  }
  #HEADER {
    /* position: absolute; */
    top: 1.25rem;
    /* background-color: var(--primary); */
    padding: 0 1rem;
    z-index: 100000;
    border-radius: 19rem;
    color: var(--secondary);
    width: fit-content;
    /* mix-blend-mode: luminosity; */
    text-shadow:
      var(--primary) 1px 0 1px,
      var(--primary) 0px 1px 1px,
      var(--primary) -1px 0 1px,
      var(--primary) 0px -1px 1px;
    /* color: var(--primary) */
  }
  #HEADER.almost-stuck {
  }
  /* #HEADER::before {
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 0.125rem;
    left: -0.25rem;
    top: 49%;
    width: 100%;
	z-index: 0;
  } */
  hr {
    width: 100%;
  }
  hr#deez {
    position: sticky;
    top: 3rem;
    z-index: 100;
    border-color: transparent;
    font-size: 2.65rem;
    max-height: 0;
    transition: max-height 500ms ease-in-out;
  }
  hr#deez:has(+ #HEADER.stuck) {
    border-color: var(--primary);
    height: 100%;
    max-height: 5rem;
  }

  .floater {
    position: absolute;
    height: 90%;
    width: 100%;
    /* top: 14rem; */
    pointer-events: none;
  }
</style>
