---
import Section from "../../layouts/Section.astro";
---

<Section title="Admin Login">
  <form id="admin-login">
    <p class="form-error"></p>
    <label for="username">Username</label>
    <div class="cool-border">
      <input name="username" />
    </div>
    <label for="password">Password</label>
    <div class="cool-border">
      <input name="password" />
    </div>
    <br />
    <button type="submit">Submit</button>
  </form>
</Section>

<style>
  #admin-login {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
  }

  button {
    width: 100% !important;
  }
</style>

<script>
  import { setCookie } from "../../scripts/cookies";

  const form = document.getElementById("admin-login")! as HTMLFormElement;
  const error = form.querySelector(".form-error")! as HTMLParagraphElement;
  console.log("boobies", form);
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    for (const [name, value] of formData.entries()) {
      if (!value) {
        error.innerText = `${name} cannot be empty 😠`;
        return;
      }
    }

    const response = await fetch(`/admin/api/login`, {
      method: "POST",
      body: formData,
    });

    if (response.ok) {
      setCookie("admin", "nice", 1);
      window.location.href = "/";
    } else {
      error.innerText = (await response.json()).error;
    }
  });
</script>
