---

---

<form id="admin-login" method="POST" action="adminLogin">

</form>

<script>
	const form = document.getElementById('admin-login');

	form?.addEventListener('submit', async (event) => {
		event.preventDefault();

		
	});
</script>